body {
    background-color: rgb(141, 206, 200);
    font-family: "Open Sans", "sans-serif";

}



.container {
    background-color: azure;
    width: 800px;
    height: 600px;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350;
    margin-bottom: 30px;
    position: relative;
}

.inner-container {
    background-color: rgb(110, 109, 109);
    width: 400px;
    height: 500px;
    position: relative;
    top: 50px;
    left: 200px;
    right: 200px;

}

.heading {
    color: white;
    padding-top: 15px;

}

.input-field {
    border: 2px solid rgb(182, 175, 175);
    margin-top: 30px;
    color: rgb(66, 65, 65);
    padding-left: 10px;
    margin-left: +50px;
    margin-right: +50px;
    border-radius: 5px;
    line-height: 30px;

}

.signup {
    background-color: #fff999;

}